<html>
<head>
  <title>Django Semi-Restful Friends</title>
  <link rel="stylesheet" type="text/css" href="{% static 'sr_users/css/style.css' %}">
</head>
<body>
<h1>Edit User</h1>
<div>
  You are in the edit form
  <!-- <form action='/update/{{friend['id']}}' method='POST'>
    {% csrf_token %} 
    <label for="first_name">First Name:<input type="text" name="first_name" value="{{friend['first_name']}}"></label><br>
    <label for="last_name">Last Name:<input type="text" name="last_name" value="{{friend['last_name']}}"></label><br>
    <label for="email">Email:<input type="text" name="email" value="{{friend['email']}}"></label><br>
    <input type="submit" value="Update">
  </form>
    <a href="/show/{{friend['id']}}"> Show </a> 
    <a href="/"> Home </a> -->
</div>
</body>
</html>
